node_modules/
coverage/
dist/
build/
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.DS_Store

.dart_tool/
.packages
pubspec.lock
doc/api/
*.dart.js
*.info.json
.flutter-plugins
.flutter-plugins-dependencies
